# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

In [47]:
#int
x = 2
print(x)
type(x)

2

int

In [48]:
# float:
r = 4.5
print(r)
type(r)

4.5

float

In [49]:
#string
s = "hello world"
print(s)
type(s)

hello world

str

In [1]:
#boolean:
n = 5<3
print(n)
type(n)

False

bool

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [22]:
my_variable = "hello world"
print("string: " + my_variable)

string: hello world

In [24]:
my_variable = "everyone unmuted please"
print("string: " + my_variable)

string: everyone unmuted please

In [25]:
my_variable = "we have to do it"
print("string: " + my_variable)

string: we have to do it

In [26]:
my_variable = "data science is the demanded course"
print("string: " + my_variable)

string: data science is the demanded course

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [31]:
x = 10
print(type(x))

<class 'int'>

In [32]:
s = 'abc'
print(type(s))

<class 'str'>

In [49]:
r = 6.3
print(type(r))

<class 'float'>

In [2]:
n = 5<4
print(type(n))

<class 'bool'>

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [3]:
first_value = 5
second_value = 9

result = first_value + second_value
print(result)

14

In [16]:
first_value = 5
second_value = 3

result = first_value - second_value
print(result)

2

In [17]:
first_value = 5
second_value = 4

result = first_value * second_value
print(result)

20

In [18]:
first_value = 20
second_value = 10

result = first_value / second_value
print(result)

2.0

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [26]:
names  = ['natasha' , 'ruhi' , 'harshda' , 'lalita' , 'sampada']

In [27]:
names[1]

'ruhi'

In [28]:
names[2]

'harshda'

In [29]:
names[4]

'sampada'

__Exercise 3 b)__ Print your list of names using different ranges

In [30]:
names[1:3]

['ruhi', 'harshda']

In [31]:
names[:3]

['natasha', 'ruhi', 'harshda']

In [32]:
names[4:]

['sampada']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [40]:
len([])

0

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [55]:
names.append('neha')

__Exercise 4 c)__ Print the list. Does it look as expected?

In [57]:
print(names)

['natasha', 'ruhi', 'harshda', 'lalita', 'sampada', 'neha', 'neha']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [58]:
names.insert(3 , 'raman')

__Exercise 4 e)__ Print the list. Does it look as expected?

In [59]:
print(names)

['natasha', 'ruhi', 'harshda', 'raman', 'lalita', 'sampada', 'neha', 'neha']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [60]:
names.remove('raman')

__Exercise 4 g)__ Print the list. Does it look as expected?

In [61]:
print(names)

['natasha', 'ruhi', 'harshda', 'lalita', 'sampada', 'neha', 'neha']

# Example: For loops

In [43]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [11]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruits)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [45]:
fruits =  ["orange", "apple", "pear", "banana", "kiwi", "mango", "grapes"]
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [29]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [13]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [75]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [76]:
capital = countries["denmark"]
print(capital)

copenhagen

In [78]:
capital = countries["norway"]
print(capital)

oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [38]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}
new_key = "india"
new_value = "delhi"
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo" , new_key : new_value}
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'india': 'delhi'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [10]:
countries = {"sweden" : "malmo", "denmark" : "copenhagen", "norway" : "oslo"}

In [36]:
capital = countries["sweden"]
print(capital)

malmo

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [39]:
countries = {"sweden" : "malmo", "denmark" : "copenhagen", "norway" : "oslo"}
print(countries)

{'sweden': 'malmo', 'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [7]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [8]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}
countries.pop('sweden')
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [10]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [30]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

In [36]:
d = {"country1" :"sweden" , "capital1" :"stockholm" , "country2" :"denmark" , "capital2" :"copenhang" , "country3" :"norway" , "capital3" :"oslo"}
print(d.items())

dict_items([('country1', 'sweden'), ('capital1', 'stockholm'), ('country2', 'denmark'), ('capital2', 'copenhang'), ('country3', 'norway'), ('capital3', 'oslo')])

In [37]:
print(d.items())

dict_items([('country1', 'sweden'), ('capital1', 'stockholm'), ('country2', 'denmark'), ('capital2', 'copenhang'), ('country3', 'norway'), ('capital3', 'oslo')])






# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [87]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [88]:
add_two_numbers(1,2)

3

In [89]:
add_two_numbers(5,20)

25

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [84]:
def difference_two_numbers(number1, number2):
    result = number1 - number2
    return result

In [21]:
difference_two_numbers(1,2)

-1

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [22]:
difference_two_numbers(1,2)

-1

In [85]:
difference_two_numbers(10,4)

6

In [86]:
difference_two_numbers(67,7)

60

__Exercise 7 c)__ Create a function that can multiply two numbers

In [69]:
def multiply_two_numbers(number1 , number2):
    result = number1 * number2
    return result

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [67]:
multiply_two_numbers(4,5)

20

In [71]:
multiply_two_numbers(1,6)

6

In [72]:
multiply_two_numbers(10,50)

500

__Exercise 7 e)__ Create a function that can divide two numbers

In [18]:
num_1 = 64
num_2 = 8
result = num_1/num_2
print(result)

8.0

In [80]:
def divide_two_numbers(number1 , number2):
    result = number1 / number2
    return result

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [81]:
divide_two_numbers(51,17)

3.0

In [82]:
divide_two_numbers(3,21)

0.14285714285714285

In [83]:
divide_two_numbers(10,5)

2.0